<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://resourcesimulator20220918231716.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/7411a745-a787-44f2-86a9-e4d3764ae621/resourcegroups/Hackathon/providers/Microsoft.Web/sites/ResourceSimulator20220918231716</ResourceId>
    <UserName>$ResourceSimulator20220918231716</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://resourcesimulator20220918231716.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>